.search-section .ais-SearchBox {
  margin: 0 auto;
  margin-bottom: 1rem;
}

.search-section .ais-SearchBox form button {
  display: none;
}

.search-section .ais-SearchBox form input {
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: #2b6cb0;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

::-webkit-input-placeholder {
  color: #2b6cb0;
}
:-moz-placeholder {
  color: #2b6cb0;
  opacity: 1;
}
::-moz-placeholder {
  color: #2b6cb0;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #2b6cb0;
}
::-ms-input-placeholder {
  color: #2b6cb0;
}

::placeholder {
  color: #2b6cb0;
  opacity: 1;
}

.video-container {
  background-color: red;
  width: 90vw;
  max-width: 700px;
}

.video-container .video {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.video-container .video iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
